<ul>
  <% @wines.each do |wine| %>
      <h2><%= wine[:wine] %></h2>
  <ul>
    <li><%= wine[:region] %></li>
    <li><%= wine[:color] %></li>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Les années de ce vin</button>
      <div id="myDropdown" class="dropdown-content">
        <% wine[:years].each do |year| %>
        <%= link_to year[:year], year_path(:link => year[:link]) %>
        <% end %>
      </div>
    </div>
  </ul>
  <% end %>
</ul>
