<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for(@wine) do |f| %>
<div class="form-inputs">
  <%= f.input :domain, placeholder: "Choose a wine", class: "btn-lg search" %>
  <%= f.button :submit, "Ajoutez votre vin", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
